<section>
        <div class="list-group">
            <a href="/stocks/ATVI" class="list-group-item active">
                <span>TATA</span>
                <span class="badge">$52.08</span>
                <span class="badge">+4.75</span>
            </a>
            <a href="/stocks/ATVI" class="list-group-item">
                <span>REL</span>
                <span class="badge">$62.08</span>
                <span class="badge">+1.75</span>
            </a>
            <a href="/stocks/ATVI" class="list-group-item">
                <span>INFY</span>
                <span class="badge">$47.08</span>
                <span class="badge">+4.75</span>
            </a>
            <a href="/stocks/ATVI" class="list-group-item">
                <span>CTS</span>
                <span class="badge">$39.08</span>
                <span class="badge">+1.75</span>
            </a>
            <a href="/stocks/ATVI" class="list-group-item">
                <span>CGI</span>
                <span class="badge">$78.08</span>
                <span class="badge">+1.75</span>
            </a>
        </div>
    </section>